body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    background:linear-gradient(rgba(154, 194, 255, 0.567),transparent);
    background-color:#f7fbff;
}

.inputField {
    border: 1px solid #2b2b2b;
    border-radius: .5em;
    padding: .5em;
    margin: .5em;
    width: 7em;
}

.currencyDropdown {
    margin: .7em;
}

.equals {
    font-size: 2em;
}